.advertisement {

  &__body {
    border-top: 2px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    @media all and (min-width: map-get($breakpoints, large)) {
      flex-direction: row;
    }

    ul {
      flex-direction: column;

      @media all and (min-width: map-get($breakpoints, medium)) {
        flex-direction: row;
      }

      li {
        padding: 1rem;
        text-align: center;

        @media all and (min-width: map-get($breakpoints, medium)) {
          padding: 0 1rem;
        }
      }
    }
  }
}