.footer {
  background: $color-white;
  padding: 1rem 0;

  @media all and (min-width: map-get($breakpoints, large)) {
    padding: 5rem;
  }

  &__brand {
    display: none;

    @media all and (min-width: map-get($breakpoints, medium)) {
      @include alignment();
    }
  }

  &__social,
  &__links {
    @include alignment(space-around);
  }
}

.footer__links {
  ul {
    flex-direction: column;

    li {
      line-height: 1;
    }
  }
}