//Improvement and question text

.improve {
  text-align: center;
}

.question {
  @include alignment();
  flex-direction: column;

  &__body {
    margin: 2rem;
  }
}

//Discussion buttons list

.discussion {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  @include alignment(center, center);
  flex-direction: column;
}

//Menus

.menu {
  @include toggle-menu();
}