//General buttons

.btn {
  @include fonts($color-white, map-get($font-sizes, small), 700);
  background: $color-secondary;
  border-radius: 5px;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,.5);
  letter-spacing: 0.2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  align-self: center;
  position: relative;

  &--secondary {
    background: $color-tertiary;
  }

  &--round {
    @include fonts($color-white, map-get($font-sizes, h3));
    border-radius: 50%;
    padding: .75rem;
    margin: .5rem;
    font-size: 1.5rem;
  }

  &--big {
    padding: 1rem;
  }

  &--large {
    padding: 1rem 3.5rem;
  }

  &:hover {
    color: $color-white;
  }

  &:hover:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.2);
  }
}

//Buttons closing elements

.close {
  color: $color-tertiary;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

//Buttons opening elements

.show {
  color: $color-tertiary;
  font-size: 1.5rem;
}