nav {
  display: flex;
}

.header__nav {

  display: none;

  @media all and (min-width: map-get($breakpoints, medium)) {
    @include alignment(flex-end);
  }
  
  &__show {
    @media all and (min-width: map-get($breakpoints, medium)) {
      display: none;
    }
  }

  &--medium {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      flex-direction: column;
    }

    ul li {
      text-align: center;
      padding: 0;
    }

  }
}

.community {
  position: relative;
}