.progress {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    border: 2px solid $color-secondary;
    border-radius: 50%;
  }

}