.container {
    width: 960px;
    margin: 0 auto;
  &-fluid {
    width: 100%;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.box {
  margin: 0 auto;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column-start: span $i;
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through 12 {
    .col-#{$key}-#{$i} {
      @media all and (min-width: $value) {
        grid-column-start: span $i;
      }
    }
  }
}