.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
  &-fluid {
    width: 100%;
  }
}

%grid-template {
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
}

%col-padding {
  padding: 0 1rem;
}

@for $i from 1 through 6 {
  .row-#{$i} {
    @extend %grid-template;
    grid-template-columns: repeat($i, minmax(auto, 1fr)); 
  }
}

@for $i from 1 through 5 {
    @for $j from 2 through 7 {
    .col-#{$i}-#{$j} {
      @extend %col-padding;
      grid-column: #{$i} / #{$j};
    }
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through 5 {
    @for $j from 2 through 7 {
    .col-#{$key}-#{$i}-#{$j} {
      @media all and (min-width: $value) {
        grid-column: #{$i} / #{$j};
        }
      }
    }
  }
}

.box {
  width: 80%;
  margin: 5rem auto 2rem auto;
  padding: 2.5rem 4rem;
  background-color: $color-white;
  box-shadow: $box-shadow;

  &--small {
    padding: .25rem 1rem;
    flex-direction: column;
  }
}